{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>NOVA</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>Welcome to NOVA</header>
    <div>
        {% if user_question %}
            <div>
                {{ user_question }}
            </div>
        {% endif %}
        {% if answer %}
            <div>
                {{ answer }}
                {% if extra_data and extra_data.items %}
                    <ul>
                        {% for key, value in extra_data.items %}
                            {% if value %}
                                <li><strong>{{ key }}:</strong> {{ value }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No additional data available.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="question" required autocomplete="off" autofocus>
        <button type="submit">Ask</button>
    </form>
</body>
</html>
